@model IEnumerable<Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="row">
    <div class="col md-3">
        @*<partial name="_menu", Model="@Model.Categories"/>*@
        @await Component.InvokeAsync("CategoryMenu")
    </div>
    <div class="col-lg-9">
        @*<partial name="_movies">*@
        @Html.Partial("_movies", Model)
    </div>
</div>

